<div class="container">
  <div class="content" *ngIf="order">
    <h1>Pedido #{{order.id}}</h1>
    <div class="details">
      <div><strong>Data</strong> {{order.createdAt | date:'medium':'':'pt' }}</div>
      <div><strong>Nome</strong> {{order.name}}</div>
      <div><strong>Endereço</strong> {{order.address}}</div>
      <div><strong>Status</strong> {{order.status}}</div>
      <div *ngIf="order.paymentId">
        <strong>ID do Pagamento</strong> {{order.paymentId}}
      </div>
    </div>

    <order-items-list [order]="order"></order-items-list>
  </div>

  <div>
    <app-title title="Endereço de Entrega"></app-title>
    <map [order]="order" [readonly]="true"></map>
  </div>
</div>
