<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="E-mail"
      ></text-input>

       <text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Senha"
      ></text-input>

      <default-button text="Entrar"></default-button>
    </form>
  </div>
</div>
