.container{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
margin-top: 3rem;
}

.details{
  width: 28rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-list{
  color: red;
}

.register{
  display: flex;
  justify-content: center;
  align-items: center;
}

form button {
  font-size: 1.1rem;
  background-color: #e72929;
  color: white;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  opacity: 0.8;
  border: 0;
  min-width: 10rem;
}

label {
  display: block;
}

form button:hover {
  opacity: 1;
  cursor: pointer;
}
