<table>
  <tr>
    <td colspan="5">
      <h3>Itens do Pedido:</h3>
    </td>
  </tr>
  <tr *ngFor="let item of order.items">
    <td>
      <a routerLink="/food/{{ item.food.id }}">
        <img [src]="item.food.imageUrl" />
      </a>
    </td>
    <td>
      {{ item.food.name }}
    </td>
    <td>
      {{ item.food.price | currency:'BRL':'symbol':'':'pt' }}
    </td>
    <td>
      {{ item.quantity }}
    </td>
    <td>
      {{ item.price | currency:'BRL':'symbol':'':'pt' }}
    </td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>
      <strong> Total : </strong>
    </td>
    <td>
      <strong>
        {{ order.totalPrice | currency:'BRL':'symbol':'':'pt' }}
      </strong>
    </td>
  </tr>
</table>
